<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="upgrade.ntv.bangsoccer">

    <!-- Bluetooth permissions and features -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- other permissions and features -->
    <uses-permission android:name="com.dilip.googlemapsv2.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".AppicationCore"
        android:allowBackup="true"
        android:icon="@drawable/ic_upgraden"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_api_key" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="theme, configChanges" />
        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityClubSelect"
            android:label="Clubes"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".ActivityLogin"
            android:label="Email Login"
            android:parentActivityName=".ActivityMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>
        <activity
            android:name=".ActivityTourneyCalendar"
            android:label="Torneos"
            android:launchMode="singleTop"
            android:parentActivityName=".ActivityMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>
        <activity
            android:name=".ActivitySettings"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>
        <activity
            android:name=".ActivityAbout"
            android:label="@string/title_activity_about"
            android:launchMode="singleTop"
            android:parentActivityName=".ActivityMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>
        <activity
            android:name=".ActivityTour"
            android:label="@string/title_activity_tour"
            android:launchMode="singleTop"
            android:parentActivityName=".ActivityMain"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>
        <activity
            android:name=".ActivityClubs"
            android:label=""
            android:parentActivityName=".ActivityMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>

        <!--
       The API key for Google Maps-based APIs is defined as a string resource.
       (See the file "res/values/google_maps_api.xml").
       Note that the API key is linked to the encryption key used to sign the APK.
       You need a different API key for each encryption key, including the release key that is used to
       sign the APK for publishing.
       You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->

        <activity
            android:name=".ActivityNewsDetails"
            android:label="@string/title_activity_activity_news_details"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityAttractionDetail"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".ActivityTour"
            android:theme="@style/AppTheme.NoActionBar.Detail" />
        <activity
            android:name=".ActivityFavoriteNFollow"
            android:label="@string/title_activity_activity_favorite_nfollow"
            android:launchMode="singleTop"
            android:parentActivityName=".ActivityMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>
        <activity android:name=".FireTestActivity" />

    </application>

</manifest>